<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="Description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>八卦预测</title>
  <!-- v-cloak -->
  <style type="text/css">
    [v-cloak] {
      display: none !important;
    }
  </style>
  <!-- end for v-cloak -->

  <style type="text/css">
    .swal-input-bottom {
      margin-bottom: 0px !important;
      font-size: 1rem !important;
    }

    .swal-btn-size {
      font-size: 0.8rem !important;
    }

    .swal2-popup .swal2-validation-message {
      background: #d0d0d0;
      width: 100% !important;
      margin-left: -12px !important;
    }
  </style>
</head>

<body>
  <div id="app" v-vloak>
    <div>八卦预测</div>
    <p/>

    <div>声明：本程序仅供娱乐用途，不可做为事实依据。</div>
    <p/>

    <div>卦爻歌诀(朱熹)：<br/>乾三连、坤六断、震仰盂、艮覆碗、离中虚、坎中满、兑上缺、巽下断。</div>
    <p/>

    <div style="float:left;">
      开始断卦：
      <div>
        <p/>
        <div>
          势头是否存在？
          <select v-model="bit1">
      <option v-for="option in options" :key="option.value" :value="option.value">
        {{ option.text }}
      </option>
    </select>
        </div>
        <p/>

        <div>
          需求是否确认？
          <select v-model="bit2">
      <option v-for="option in options" :key="option.value" :value="option.value">
        {{ option.text }}
      </option>
    </select>
        </div>
        <p/>

        <div>
          方案是否达成？
          <select v-model="bit3">
      <option v-for="option in options" :key="option.value" :value="option.value">
        {{ option.text }}
      </option>
    </select>
        </div>
        <p/>

        <div>
          资源是否到位？
          <select v-model="bit4">
      <option v-for="option in options" :key="option.value" :value="option.value">
        {{ option.text }}
      </option>
    </select>
        </div>
        <p/>

        <div>
          运行是否平稳？
          <select v-model="bit5">
      <option v-for="option in options" :key="option.value" :value="option.value">
        {{ option.text }}
      </option>
    </select>
        </div>
        <p/>

        <div>
          变动是否发生？
          <select v-model="bit6">
      <option v-for="option in options" :key="option.value" :value="option.value">
        {{ option.text }}
      </option>
    </select>
        </div>
        <p/>

      </div>

      <div>
        <div>
          <button type="clear" @click="clear">清除</button>
          <button type="revers" @click="revers">反客</button>
          <button type="submit" @click="submit">预测</button>
        </div>
        <p/>
        <div v-html="resultText"></div>
      </div>
    </div>

  </div>
  <script type="text/javascript" src="./js/sweetalert2.all.min.js"></script>
  <script type="text/javascript" src="./js/vue.min.js"></script>
  <script type="text/javascript" src="./js/main.js"></script>
</body>
